@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  direction: rtl;
  min-height: 100vh;
  position: relative;
}

.header {
  @apply text-white flex justify-between items-center p-6 py-4;
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.footer {
  @apply text-white p-8 text-center ;
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.section__title {
  text-align: center;
  font-weight: bold;
  margin: 5px 0;
}

.table_component {
  overflow: auto;
  width: 100%;
  }
  
  .table_component table {
  border-radius: 15px;
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}



.table_component caption {
  caption-side: top;
  text-align: center;
}

.table_component th {
  border: 1px solid #dededf;
  background-color: #203A43;
  color: #ffffff;
  padding: 5px;
}

.table_component td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}